img {
  /*image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges*/
  border-radius: 10px;
}


body {
  /*box-shadow: inset 0 0 5rem #00000075;*/
  background-image: url(../assets/TitleBG.png);
  overflow-y: hidden;
}

#mint {
  text-decoration: none;
  color: #a1fcdf;
  -o-text-decoration: none;
  -o-color: #a1fcdf;
}

.card {
  background-color: #282830;
  border-width: 0px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px #00000075;
}

.hexagon-wrapper {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1F1F24;
  display:flex;
  justify-content: center;
  align-items: center;
}
.lana {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #a1fcdf; 
  font-size: 25px;
}

.hexagon {
  position: relative;
  width: 75px; 
  height: 43.30px;
  background-color: #1f1f24;
  margin: 21.65px 0;
  border-left: solid 10px #a1fcdf;
  border-right: solid 10px #a1fcdf;
  animation: hexagon 3s infinite ease;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 53.03px;
  height: 53.03px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 0.9835px;
}

.hexagon:before {
  top: -26.5165px;
  border-top: solid 14.1421px #a1fcdf;
  border-right: solid 14.1421px #a1fcdf;
}

.hexagon:after {
  bottom: -26.5165px;
  border-bottom: solid 14.1421px #a1fcdf;
  border-left: solid 14.1421px #a1fcdf;
}


@keyframes hexagon {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #282830; /* Black*/
  box-shadow: 0px 2px 10px #00000075;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-radius: 0px 10px 10px 0px;
  border-width: 2px;
  border-color: #a1fcdf;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #a1fcdf;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #e5fff8;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  color: #a1fcdf;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-secondary {
  background-color: #282830;
  color: #a1fcdf;
  border-width: 0px;
  border-color: #a1fcdf;
  border-radius: 10px;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #a1fcdf;
  color: #282830;
  border-color: #a1fcdf;
  text-shadow: none;
}

#heart { 
  overflow-x: hidden;
  width: 300px; height: 300px;
  text-align: center;
  transform: scale(0.95);
}

#heart::before {
  content: 'lindoo';
  color: #5a3234;
  position: absolute;
  top: 40px;
  width: 150px; height: 240px;
  background: #ef9598;
  border-radius: 150px 150px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  content: 'fofooo';
  color: #5a3234;
  position: absolute;
  top: 40px;
  width: 150px; height: 240px;
  background: #ef9598;
  border-radius: 150px 150px 0 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

#heart i::before {
  content: 'Guilherme <3';
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 35%; left: 0;
  font-style: normal;
  color: #5a3234;
  font-weight: 100;
  font-size: 30px;
}

#heart {
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(0, 0, 0, 1.74);
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-name: heartbeat; 
}

@keyframes heartbeat {
  0%, 100% { transform: scale(0.95); }
  50%      { transform: scale(1.00); }
}