body {
  font-size: .875rem;
  background-image: url(../assets/TitleBG.png);
}

.pixel-text {
  font-family: 'VT323', monospace;
  font-size: 60px;
  border-radius: 5px;
}

.pixel-text-brand {
  font-family: 'VT323', monospace;
}

.title-bg {
  background-image:url(../assets/TitleBG.png)
}

.card {
  background-color: #282830;
  border-width: 0px;
}

.navbar {
  box-shadow: inset 0px -1px #A1FCDF;
  background-color: #1F1F24;
}

.navbar .nav-link {
  font-weight: 500;
  color:#f7f9f9;
}

.navbar .nav-link .feather {
  margin-right: 4px;
  color: #f7f9f9;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar .nav-link.active {
  color:#A1FCDF;
}

.navbar .nav-link:hover .feather,
.navbar .nav-link.active .feather {
  color:#A1FCDF;
}

.navbar-brand {
  padding-top: 0px; 
  padding-bottom: 0px;
}

.dropdown-menu {
  background-color: #1F1F24;
}

.dropdown-menu .dropdown-item {
  color: #f7f9f9;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #1F1F24;
  color: #A1FCDF;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.hexagon-wrapper {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1F1F24;
  display:flex;
  justify-content: center;
  align-items: center;
}
.lana {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #a1fcdf; 
  font-size: 25px;
}

.hexagon {
  position: relative;
  width: 75px; 
  height: 43.30px;
  background-color: #1f1f24;
  margin: 21.65px 0;
  border-left: solid 10px #a1fcdf;
  border-right: solid 10px #a1fcdf;
  animation: hexagon 3s infinite ease;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 53.03px;
  height: 53.03px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 0.9835px;
}

.hexagon:before {
  top: -26.5165px;
  border-top: solid 14.1421px #a1fcdf;
  border-right: solid 14.1421px #a1fcdf;
}

.hexagon:after {
  bottom: -26.5165px;
  border-bottom: solid 14.1421px #a1fcdf;
  border-left: solid 14.1421px #a1fcdf;
}


@keyframes hexagon {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 100;
  }
  
  25% {
    opacity: 100;
  }
  
  50% {
    opacity: 50;
  }
  
  75% {
    opacity: 0;
  }
  
  100% {
    opacity: 0;
  }
}

